/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Norse";
  src: url("./resources/Norse-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Trebuchet MS";
  font-weight: 500;
}

:root {
  --background-color: lightgrey;
  --primary-color: #596d48;
  --secondary-color: #e5e7eb;
  --success-color: darkblue;
  --error-color: orangered;
}

body {
  display: flex;
  flex-direction: row;
}

.cover-container {
  position: relative;
  flex: 1;
}

.title-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 30%;
  left: 0;

  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.cover-img {
  height: 100%;
}

.cover-title {
  font-family: "Norse", sans-serif;

  color: var(--secondary-color);
  font-size: 62px;
}

.cover-background-credits-container {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  text-align: center;

  color: var(--secondary-color);
}

.cover-background-credits-container a {
  color: var(--secondary-color);
}

.form-container {
  flex: 2;
}
