/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Norse";
  src: url("./resources/Norse-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Trebuchet MS";
  font-weight: 500;
}

:root {
  --background-color: #f0f0f0;
  --primary-color: #596d48;
  --secondary-color: #e5e7eb;
  --text-color: #1a1a1a;

  --shadow-soft: 0 10px 25px rgba(0, 0, 0, 0.1);

  --active-color: #2563eb;
  --active-shadow: 0 0 0 1px rgba(37, 99, 235, 0.2);

  --invalid-color: #dc2626;
  --invalid-shadow: 0 0 0 1px rgba(220, 38, 38, 0.2);
}

body {
  background-color: rgb(24, 24, 24);
}

.sign-up-page-container {
  display: flex;
  flex-direction: row;

  /* Set some dimension constrains, deal with resizing later on in the course */
  width: 1440px;
  height: 1024px;
  margin-top: 150px;
  background-color: var(--background-color);
}

/* COVER SECTION */

.cover-container {
  position: relative;
  flex: 1;
}

.title-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 30%;
  left: 0;

  width: 100%;
  height: 13%;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.cover-img {
  height: 90%;
}

.cover-title {
  font-family: "Norse", sans-serif;

  color: var(--secondary-color);
  font-size: 80px;
}

.cover-background {
  height: 100%;
  object-fit: cover;
}

.cover-background-credits-container {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  text-align: center;

  color: var(--secondary-color);
  font-size: small;
  font-weight: 200;

  opacity: 85%;

  margin-bottom: 5px;
}

.cover-background-credits-container a {
  color: var(--secondary-color);
}

/* FORM SECTION */

.form-section-container {
  flex: 2;

  display: flex;
  flex-direction: column;

  margin: auto 0;

  color: var(--text-color);
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 50px;
}

.top-container p {
  font-size: 24px;
  font-weight: 600;
}

.top-container p em {
  font-weight: 600;
}

.bottom-container {
  margin: 25px 50px;
}

.create-account-button {
  margin-bottom: 25px;

  font-size: 18px;
  font-weight: bold;
  color: white;

  background-color: var(--primary-color);
  padding: 10px 60px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(89, 109, 72, 0.3);
}

.create-account-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(89, 109, 72, 0.3);
}

.login-text {
  font-size: 18px;
}

.login-text a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

.form-container {
  background-color: white;
  margin: 25px 0;
  padding: 20px 200px 40px 40px;
  box-shadow: var(--shadow-soft);
}

.form-container p {
  font-size: 24px;
  font-weight: 600;

  margin-bottom: 20px;
}

#create_account_form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;

  width: 80%;
}

.input-container > label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  color: #444;
  letter-spacing: 0.15rem;
}

.input-container > input {
  border: 1px solid lightgray;
  height: 32px;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
}

.input-container > input:focus-visible {
  border: 2px solid var(--active-color);
  box-shadow: var(--active-shadow);
}

.input-container > input:invalid {
  border: 2px solid var(--invalid-color);
  box-shadow: var(--invalid-shadow);
}
